@if (logged) {
  <b>login</b>
}

@else {
  <b>logout</b>
}

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus pariatur sed corrupti laborum tenetur ut illo suscipit omnis, fugit excepturi officiis sequi fugiat, ab officia illum voluptatem dolorum laboriosam consectetur.</p>

<button (click)="login()">login</button>
<button (click)="logout()">logout</button>
  




@for (emp of company; track emp.age) {
  <ul>
    <li>
      ID: {{emp.age}} | Name: {{emp.name}}
    </li>
  </ul>
}
@empty {
  <b>No data fount</b>
}

